@charset "UTF-8";
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.back{
    height: 900px;
    width: 40%;
    background-color: #FFBF72;
    z-index: -1;
    position: absolute;
}

.backgroundimg{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 40%;
    width: 770px;
    height: 900px;
    background-color: white;
    z-index: -3;
    position: absolute;
}

.backgroundimg img{
    margin-top: 300px;
    margin-left: 70px;
    width: 600px;
    height: 550px;
    z-index: -2;
    filter: blur(2px);
}


.summary{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.summary h3, h4{
    margin-left: 40px;
}


.cart-item{
    display: flex;
    background-color: white;
    margin-top: 0;
    margin-left: 40px;
    width: 90%;
    border-radius: 8px;
}

.cart-item img{
    border-radius: 8px;
    margin: 20px 10px 20px 20px;
    height: 120px;
    width: 120px;
}
.cart-item p{
    color: #898989;
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 30px;
    padding: 0;
}
    
.ship_address{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
    width: 80%;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.ship_address h3{
    margin-left: 40px;
}

.ship_label{
    display: flex;
    background-color: white;
    height: 50px;
    margin-left: 40px;
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.ship_label input{
    width: 50%;
    height: 40px;
    background-color: #898989;
    margin-left: 40px;
    margin-top: 5px;
    color: white;

}

.ship_label label{
    margin-left: 40px;
    margin-top: 13px;
}

.ship_label ::-webkit-input-placeholder{
    color: white;
}

.ship_options{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 50px;
    margin-left: 40px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.ship_options input{
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.ship_options label{

    margin-top: 10px;   
}

input{

    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 8px;

    box-sizing: border-box;

}
