@charset "UTF-8";
.update_products {
    width: auto;
    margin: 15px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    text-align: auto;
    justify-content: auto;
}

h3 {
    margin-bottom: 30px;
    text-align:center;
}

.prodForm {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.image_div {
    display:flex; 
    flex-direction:column;/* Don't grow, don't shrink, stay auto size */
    margin-right: 20px; 
    justify-content:center;
    align-items:center;
}
.editImg{

	color:#FFAC4D; 
	cursor: pointer;
}
#new_image{
	display:none;
	margin-top:10px;
}
.details {
    flex: 1; /* Take up remaining space */
}

.form_row {
   display: flex;
	margin-bottom:15px;
	gap: 50px;
}


label {
    	width: 150px;
	text-align:left;
}

input,
select,
textarea {
   width: 55%;
    padding: 10px; 	
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

button {
    background-color: #ffac4d;
    width: 150px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}